#grafo {
    border: solid 1px black;
}
body {
    text-align: center;
    align-content: center;
    width: 90%;
    height: 90%;
    margin: 0 auto;
}
.left{
    text-align: left
}
.right{
    text-align: right
}
#help{
    margin:2px
}