html, body {
  margin: 0;
  height: 100%;
  width: 100%;
}

#grafo {
  height: 90%;
}

.left {
  float: left
}

.right {
  float: right
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    color: white;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 1em;
  text-decoration: none;
}

li a:hover:not(.active) {
  cursor: pointer;
  background-color: #111;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: ghostwhite;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover:not(.active) {
  cursor: pointer;
  background-color: gainsboro;
}

.active {
  background-color: mediumseagreen;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 3em;
  height: 3em;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
  margin: 1em auto;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

svg {
  position: relative;
  top: 3px;
  height: 1em;
}

input[type=text] {
  margin: 10px;
}

input[type=number] {
  width: 4.5em;
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  border-radius: 0 5px 0 0;
  display: flex;
  align-items: center;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  overflow: hidden;
  word-wrap: normal;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close-button {
  float: right;
  font-weight: bold;
  margin-left: 15px;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.close-button:hover,
.close-button:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#carrera-actual-short {
  display: none;
}

@media (max-width: 900px) {
  #carrera-actual-short {
    display: inline-block;
  }

  #carrera-actual-long {
    display: none;
  }
}

.alert {
  padding: 20px;
  background-color: salmon;
  color: white;
}

#materia-modal-content {
  width: 40%;
}

#materia-botones {
  float: right;
  margin: 0 -10px;
}

button {
  border: none;
  border-radius: 5px;
  margin: .2em;
  color: white;
  padding: .6em .8em;
  cursor: pointer;
}

#aprobar-button {
  background-color: #4CAF50;
}

#desaprobar-button {
  background-color: #f44336;
}

#enfinal-button {
  background-color: #4ae9c1;
}

#cuatri-menu {
  border-radius: 5px 0 0 0;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0 10px;
}

#help-list {
  margin: 0 3em;
}
