:root {
  --black: #2d3436;
  --white: #dfe6e9;
  --grey: #b2bec3;
  --main: #2cb67d;
  --info: #faeee7;
  --alert: #ff6b6b;
  --notification: #81ecec;
  --font-black: #010101;
}

.dark {
  --black: #7045af;
  --white: #2d3436;
  --grey: #72757e;
  --info: #b2bec3;
  --font-black: #fffffe;
}

html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: var(--white);
}

#header { 
  top: 0; 
}
#header-navbar {
  z-index: 3;
}
#header-snackbar div {
  z-index: 2;
}
#grafo { 
  z-index: 1;
  position: relative; 
  height: 100%; 
}
#footer-snackbar div {
  z-index: 2;
}
#footer-navbar {
  z-index: 2;
}
#footer {
  bottom: 0; 
}

.center { text-align: center; }
.right { text-align: right; }

.menu {
  width: 100%;
  position: absolute;
} 

.navbar {
  position: relative;
  display:flex;
  justify-content: space-between;
  background-color: var(--black);
  color: white; 
  }
  .navbar a:hover:not(.active):not(.dropbtn) {
    background-color: var(--grey);
  }

  a {
  cursor: pointer;
  display: inline-block;
  padding: 1em;
  text-decoration: none; 
}

#materia {
  padding: 0.5em;
  background-color: var(--info);
  left: 0;
  color: #010101;
  border-top: 2px solid var(--black);
  border-right: 2px solid var(--black);
}

.dropdown-content {
  white-space: nowrap;
  display: none;
  position: absolute;
  z-index: 3;
  background-color: var(--white);
  color: var(--font-black);
  box-shadow: 0px 8px 16px 0px var(--font-black);
  }
  .dropdown-content a {
    display: block;
  }

.snackbar {
  display:flex;
  position: relative;
  overflow:hidden; 
  color: var(--font-black); }
  .snackbar p {
    margin: 0;
    padding: .5em;
  }

#footer-snackbar {
  justify-content: space-between;
  align-items: flex-end;
  } #footer-snackbar a {
  font-size: larger;
  padding: 5px;
  color: var(--font-black); }
  #footer-snackbar a:visited {
    color: var(--font-black)
  }

#mail-content {
  display: none;
  margin-left: 10px;
  font-weight: bolder;
  font-size: medium;
}

#carrera-actual-short {
  display: none;
}

@media (max-width: 900px) {
  #carrera-actual-short {
    display: inline-block;
  }
  #carrera-actual-long {
    display: none;
  }
  #footer a {
    padding:0.5em 0.3em;
  }
  #clave input {
    width: 11ch;
  }
}

@media (max-width: 400px) {
  #materia {
    width: 100vw;
    border-right: none;
  }
}

.dropdown-content-right {
  right: 0;
  text-align: right;
}

button {
  border: none;
  border-radius: 5px;
  margin: .2em;
  padding: .5em .8em;
  cursor: pointer;
}

.active {
  background-color: var(--main);
}

.close-button {
  float: right;
  margin: 15px;
  cursor: pointer;
}

#alert {
  border-left: 2px solid var(--black);
  border-top: 2px solid var(--black);
  border-right: 2px solid var(--black);
  background-color: var(--alert);
  color: black;
}
#alert a {
  font-size: medium;
  color: blue;
}
#alert a:visited {
  color: blue;
}

#notification {
  border-left: 2px solid var(--black);
  border-top: 2px solid var(--black);
  border-right: 2px solid var(--black);
  background-color: var(--notification);
  color: black;
}
#notification a {
  font-size: medium;
  color: blue;
}
#notification a:visited {
  color: blue;
}


#promedio {
  display: none;
}

#materia div {
  padding: 0em 2em
}

#materia-enfinal {
  padding: 0.5em 3em
}

#carreras a {
  padding-left: 5px;
}

input {
  margin: 5px 0;
  padding: 0 5px;
  text-align: center;
}

#materia input {
  width: 8ch;
}

#cuatri {
  margin: 0 auto;
}

#cuatri input {
  font-size: larger;
  width: 6ch;
}

#cuatri a {
  padding: 0 5px;
}

#clave {
  padding-left: 5px;}
  #clave input {
    width: 15ch;
    text-align: left
  }
  #clave-buttons {
    display: inline-block;
    white-space: nowrap;
  }

.loader {
  width: 40px;
  height: 40px;
  background-color: var(--black);
  position: fixed;
  top: 30%;
  left: 50%;
  margin-left: -20px; 
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
