h1 {
    padding-top: 0.5em;
}
body {
    text-align: center;
    margin: auto;
    height:90%;
}

.right {
    float:right
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  cursor: pointer;
  background-color: #111;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover:not(.active) {
  cursor: pointer;
  background-color: #f1f1f1;
}

.dropdown:hover:not(.active) .dropdown-content {
  cursor: pointer;
  display: block;
}

.active {
  background-color: #4CAF50;
}